@use './colors';
.buy-now-btn {
	display: flex;
	align-items: flex-start;
	background-color: $main-red;
	padding: 7px 20px;
	gap: 10px;
	border-radius: 33px;
	// Text
	color: $pure-white;
	text-align: center;
	font-family: 'Montserrat', serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%; /* 24px */
	text-transform: uppercase;
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
